* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.loading {
    border: 30px solid transparent;
    border-right-color: #008000;
    border-left-color: #008000;
    width: 100px;
    height: 100px;
    animation: loading_animation 1.8s linear infinite;
    border-radius: 50%;
}


/* Keyframes */
@keyframes loading_animation {
    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}